<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.0" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.0" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.0" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.0" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" />
  <package id="System.Drawing.Common" version="4.7.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" />
  <package id="System.Security.Cryptography.Cng" version="4.7.0" />
  <package id="System.Security.Cryptography.Pkcs" version="4.7.0" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" />
  <package id="System.Text.Encodings.Web" version="4.7.0" />
  <package id="System.Text.Json" version="4.7.0" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" />
</packages>